body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 400;
    background-color: #d3af80;
    text-align: center;
}
h1, h2 {
    font-weight: 800;
}
h1 {
    font-size: 4rem;
    text-align: center;
}
img {
    text-align: center;
}
ul, ol, li {
    padding: 1.5rem;
    list-style: none;
    text-align: left;
    margin-left: 32rem;
    max-width: 60rem;
}
a {
    color: #5151ec;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    list-style: none;
}
a:hover {
    color: #6a2eb8;
}
p {
    text-align: left;
    margin-left: 52rem;
    text-wrap: wrap;
    max-width: 60rem;
}
